.about { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.about:hover {
    border-top-color: white;
    border-bottom-color: white;
}

.about-heading {
    color: rgba(255, 255, 255, 0.25);
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(3rem, 8vw, 10rem);
    font-weight: 300;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
}

.about-heading:hover {
    color: white;
    border-top: solid white;
    border-bottom: solid white;
}

.about-text-hover{
    width: fit-content;
    line-height: 1.15rem;
    outline: 8px ridge rgba(150, 113, 166, 0.6);
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-bottom: 2%;
}

.about-text-hover:hover{
    background-color:  rgba(255, 255, 255, 0.25);
    color: white;
    font-weight: bold;
}

.button-component {
    width: 8rem;
    height: 3.5rem;
    font-weight: bold;
    font-size: medium;
    background-color: rgba(150, 113, 166, 0.6);
    color: rgba(255, 255, 255, 0.25);;
    border-radius: 8px;
    border: 2px solid rgba(150, 113, 166, 0.6);
    transition-duration: 0.4s;
}

.button-component:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.25);
}

.description{
    color: rgba(255, 255, 255, 0.25);;
    font-weight: bold;
}